.about-us-minified {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.about-us-minified img {
    height: 80%;
    width: 40%;
    object-fit: cover;
}

.about-us-minified-text {
    height: 80%;
    width: 100%;
    padding-left: 20px;
}

.about-us-minified-text h3 {
    color: goldenrod;
    font-style: italic;
    font-weight: 500;
}

.about-us-minified-text .button-container {
    display: flex;
    flex-direction: row-reverse;
    height: 50%;
}

.lista-servicos {
    width: 100%;
    height: 255px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.servico-item {
    width: 500px;
    height: 200px;
    margin: 10px;
    display: flex;
    position: relative;
    overflow: hidden;
    transition: transform .3s;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-start;
}

.servico-item img {
    height: 100%;
    width: -webkit-fill-available;
    object-fit: cover;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.servico-item h5 {
    text-align: left;
    margin-top: 10px;
    color: #ffffff; 
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    z-index: 20;
    position: absolute;
    top: 155px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: goldenrod;
    border-radius: 0 10px 10px 0;
}

#realized-projects {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

#realized-projects .session-title-container {
    padding-left: 2.60vw;
}

#realized-projects .session-container-white {
    padding: 0;
}

.realized-projects-minified {
    height: 100%;
}

.realized-projects-minified .button-container {
    display: flex;
    width: 100%;
    height: 20%;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#items {
    display: flex;
    height: 80%;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
