.estilizado {
    top: 585px;
    width: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 20;
}

.estilizado h2 {
    text-wrap: nowrap;
    background-color: aliceblue;
    border-radius: 20px 20px 0 0;
    font-style: normal;
    font-weight: 500;
    padding: 15px;
}

.session-container-white {
    height: auto!important;
}

.sobre-container {
    height: 1px!important;
    z-index: 20!important;
    position: relative;
    align-items: flex-start!important;
}

.sobre-title {
    margin-left: 50px;
    width: auto!important;
    height: 110px!important;
    padding: 15px;
    padding-bottom: 30px;
}

.sobre-title h1 {
    font-weight: 500;
    color: goldenrod;
    margin-bottom: 0;
}

.sobre-title h4 {
    font-style: italic;
    color: #626161;
    font-weight: 300;
    text-align: left;
    font-size: 30px;
    margin-bottom: 0;
}

.text {
    height: auto!important;    
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.text p {
    color: #626161;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.24px;
}

.session-container-white {
    height: auto;
}

#feedback {
    font-style: italic;
    font-weight: 200;
}

.feedback-session {
    flex-direction: row!important;
    height: auto;
}

.feedback-session .session-container-white {
    align-items: flex-start!important;
    height: auto;
}

.feedback-session h6 {
    color: #1D2437;
}

#imagem-cliente {
    box-shadow: -15px 20px 0px 0px #daa520;
    height: 35vh;
    object-fit: cover;
}

@media (max-width: 991px) {
    .feedback-session {
        flex-direction: column!important;
    }

    #imagem-cliente {
        box-shadow: none;
        height: 30vh;
        width: 30vh;
        border-radius: 100%;
        margin-bottom: 30px;
    }
}