{% extends "global/base.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}".css">
    {% include "carrossel/carrossel_template.html" with slides=home_carrossel %}
    <div class="session-container-white inline">
        <div class="session-title-container">
            <h2 class="session-title">Sobre-nós</h2>
            <div class="session-container-white">
                <div class="about-us-minified">
                    <img src="{% static 'global/images/home-imgs/about-us-img.jpg' %}" alt="">
                    <div class="about-us-minified-text">
                        <h3>Uma Experiência Única em Gesso</h3>
                        <p>Na interseção entre criatividade e habilidade, encontramos nossa vocação. 
                            Com uma equipe dedicada de artesãos apaixonados, cada projeto na 
                            Gesso Fernandes é uma obra-prima única. Desde forros majestosos até detalhes 
                            intricados em molduras decorativas, cada toque é uma expressão de nossa devoção 
                            ao seu espaço.
                            convidamos você a fazer parte da nossa história. Seja um projeto residencial,
                            comercial ou um conceito totalmente único, estamos prontos para embarcar nessa
                            jornada criativa com você. Descubra como podemos transformar sua visão em uma
                            realidade de gesso incomparável.</p>
                            <div class="button-container">
                                <a href=""><button class="botao gray">Saiba mais</button></a> 
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
