{% extends "global/base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
    {% include "carrossel/carrossel_template.html" with slides=home_carrossel %}
    <div class="session-container-white inline" id='sobre-nos-abreviado'>
        <div class="session-title-container">
            <h2 class="session-title">Sobre-nós</h2>
        </div>
        <div class="session-container-white">
            <div class="about-us-minified">
                <img src="{% static 'global/images/img1.png' %}" alt="">
                <div class="about-us-minified-text">
                    <h3>Uma Experiência Única em Gesso</h3>
                    <p>Na interseção entre criatividade e habilidade, encontramos nossa vocação. 
                        Com uma equipe dedicada de artesãos apaixonados, cada projeto na 
                        Gesso Fernandes é uma obra-prima única. Desde forros majestosos até detalhes 
                        intricados em molduras decorativas, cada toque é uma expressão de nossa devoção 
                        ao seu espaço.
                        convidamos você a fazer parte da nossa história. Seja um projeto residencial,
                        comercial ou um conceito totalmente único, estamos prontos para embarcar nessa
                        jornada criativa com você. Descubra como podemos transformar sua visão em uma
                        realidade de gesso incomparável.</p>
                        <div class="button-container">
                            <a href="{% url 'sobre' %}"><button class="botao gray">Ler Mais</button></a> 
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="session-container-blue inline">
        <div class="session-title-container">
            <h2 class="session-title">Serviços</h2>
        </div>
        <div class="session-container-blue">
            <div class='lista-servicos'>
                {% for servico in home_servicos %}
                    {% if servico.visivel %}
                        {% if servico.imagem %}
                        <div class="servico-item">
                            <img src="{{ servico.imagem.url }}" alt="{{ servico.titulo }}">
                            <div class="thumbnail-titulo">
                                <h5>{{ servico.titulo }}</h5>
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="button-container">
                <a href="{% url 'servicos' %}"><button class="botao">Ver Mais</button></a> 
            </div>
        </div>
    </div>
    {% include 'projetos/expositor_projetos.html' with projetos_realizados=projetos %}
{% endblock content %}