{% extends "global/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'sobre/css/sobre.css' %}">
<div class="img-container">
    <img src="{% static 'global/images/pessoas-de-tiro-completo-carregando-cartaz-juntos.jpg' %}" alt="">
    <div class="sobre-container">
        <div class="sobre-title">
            <h1>Quem Somos</h1>
            <h4>Sua Referência em Soluções em Gesso!</h4>
        </div>
    </div>
</div>
<div class="session-container-white row">
    <div class="wrapper">
        <div class="session-title-container">
            <h2 class="session-title">Nossa História</h2>
        </div>
        <div class="session-container-white text">
            <p>Fundada em 2019, a Gesso Fernandes iniciou sua jornada
                com o compromisso de oferecer serviços de alta qualidade
                no setor de gesso. 
                Ao longo dos anos, consolidamos nossa posição como
                líderes no mercado, proporcionando soluções inovadoras e personalizadas para satisfazer as necessidades únicas de nossos clientes.
            </p>
        </div>
        <div class="session-title-container">
            <h2 class="session-title">Nossa Missão</h2>
        </div>
        <div class="session-container-white text">
            <p>Fundada em 2019, a Gesso Fernandes iniciou sua jornada
                com o compromisso de oferecer serviços de alta qualidade
                no setor de gesso. 
                Ao longo dos anos, consolidamos nossa posição como
                líderes no mercado, proporcionando soluções inovadoras e personalizadas para satisfazer as necessidades únicas de nossos clientes.
            </p>
        </div>
    </div>
    <div class="img-wrapper">
        <img src="{% static 'global/images/pessoas-de-tiro-completo-carregando-cartaz-juntos.jpg' %}" alt="">
    </div>  
</div>
<div class="session-container-blue">
    <div class="session-title-container">
        <h2 class="session-title">Valores Fundamentais</h2>
    </div>
    <div class="session-container-blue text">
        <ul class="values-list">
            <li>
                <img src="{% static 'global/icons/medal.svg' %}" alt="icone-telefone-amarelo">
                <h4>Qualidade Impecável</h4>
                <span>Comprometemo-nos a oferecer produtos
                    e serviços de gesso da mais alta qualidade, garantindo durabilidade e satisfação do cliente.</span>
            </li>
            <li>
                <img src="{% static 'global/icons/blocks.svg' %}" alt="icone-telefone-amarelo">
                <h4>Inovação Contínua</h4>
                <span>Buscamos constantemente maneiras inovadoras de aprimorar nossos produtos e processos, mantendo-nos à frente das tendências do setor.</span>
            </li>
            <li>
                <img src="{% static 'global/icons/hands.svg' %}" alt="icone-telefone-amarelo">
                <h4>Compromisso com Cliente</h4>
                <span>A satisfação do cliente é nossa prioridade. Estamos empenhados em ouvir, entender e superar as expectativas de nossos clientes em cada projeto.</span>
            </li>
        </ul>
    </div>
</div>
{% endblock content %}