{% extends "global/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'sobre/css/sobre.css' %}">
<div class="img-container">
    <img src="{% static 'global/images/pessoas-de-tiro-completo-carregando-cartaz-juntos.jpg' %}" alt="">
    <div class="sobre-container">
        <div class="sobre-title">
            <h1>Quem Somos</h1>
            <h4>Sua Referência em Soluções em Gesso!</h4>
        </div>
    </div>
</div>
<div class="session-container-white">
    <div class="session-title-container">
        <h2 class="session-title">Nossa História</h2>
    </div>
    <div class="session-container-white">
    </div>  
</div>
{% endblock content %}