{% extends "global/base.html" %}
{% block content %}
{% load static %}
<!-- <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}"> -->
<link rel="stylesheet" href="{% static 'servicos/css/servicos.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
<div class="img-container">
    <img src="{% static 'global/images/projetos.png' %}" alt="">
    <div class="sobre-container">
        <div class="sobre-title">
            <h1>Blog</h1>
            <h4>Trazendo mais informação sobre o mundo do Gesso!</h4>
        </div>
    </div>
</div>
<div class="session-container-white row">
    <div class="session-title-container">
        <h2 class="session-title">Categoria</h2>
    </div>
    <div class="filter-options">
        <a href="{% url 'blog' %}">Todas</a>
        {% for categoria in categorias %}
        <a href="{% url 'blog' %}?categoria={{ categoria }}">{{ categoria }}</a>
        {% endfor %}
    </div>
</div>
<div class="session-container-white" id="posts">
    {% for postagem in page.object_list %}
    <div class="post">
        <img src="{{ postagem.imagem.url }}" alt="">
        <div class="complemento">
            <h4>{{ postagem.categoria }}</h4>
            <h2>{{ postagem.titulo }}</h2>
            <p>{{ postagem.sobre|slice:":100" }}...</p>
            <a href="{% url 'post_detalhado' titulo=postagem.titulo %}">Ler mais</a>
        </div>
    </div>
    {% endfor %}
</div>
<div class="paginacao">
    {% if page.has_previous %}
        <a id='back' href="{% url 'projetos' %}?page={{ page.previous_page_number }}">
            <img src="{% static 'global/icons/next.svg' %}" alt="">
            Anterior
        </a>
    {% endif %}
    {% if page.has_next %}
        <a id='next' href="{% url 'projetos' %}?page={{ page.next_page_number }}">
            Proximo
            <img src="{% static 'global/icons/next.svg' %}" alt="">
        </a>
    {% endif %}
</div>
{% endblock %}
{% load static %}